---
const tools = [
  { name: 'Google Ads', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M3.9998 22.9291C1.7908 22.9291 0 21.1383 0 18.9293s1.7908-3.9998 3.9998-3.9998 3.9998 1.7908 3.9998 3.9998-1.7908 3.9998-3.9998 3.9998zm19.4643-6.0004L15.4632 3.072C14.3586 1.1587 11.9121.5028 9.9988 1.6074S7.4295 5.1585 8.5341 7.0718l8.0009 13.8567c1.1046 1.9133 3.5511 2.5679 5.4644 1.4646 1.9134-1.1046 2.568-3.5511 1.4647-5.4644zM7.5137 4.8438L1.5645 15.1484A4.5 4.5 0 0 1 4 14.4297c2.5597-.0075 4.6248 2.1585 4.4941 4.7148l3.2168-5.5723-3.6094-6.25c-.4499-.7793-.6322-1.6394-.5878-2.4784z"/></svg>' },
  { name: 'Meta Ads', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M6.915 4.03c-1.968 0-3.683 1.28-4.871 3.113C.704 9.208 0 11.883 0 14.449c0 .706.07 1.369.21 1.973a6.624 6.624 0 0 0 .265.86 5.297 5.297 0 0 0 .371.761c.696 1.159 1.818 1.927 3.593 1.927 1.497 0 2.633-.671 3.965-2.444.76-1.012 1.144-1.626 2.663-4.32l.756-1.339.186-.325c.061.1.121.196.183.3l2.152 3.595c.724 1.21 1.665 2.556 2.47 3.314 1.046.987 1.992 1.22 3.06 1.22 1.075 0 1.876-.355 2.455-.843a3.743 3.743 0 0 0 .81-.973c.542-.939.861-2.127.861-3.745 0-2.72-.681-5.357-2.084-7.45-1.282-1.912-2.957-2.93-4.716-2.93-1.047 0-2.088.467-3.053 1.308-.652.57-1.257 1.29-1.82 2.05-.69-.875-1.335-1.547-1.958-2.056-1.182-.966-2.315-1.303-3.454-1.303zm10.16 2.053c1.147 0 2.188.758 2.992 1.999 1.132 1.748 1.647 4.195 1.647 6.4 0 1.548-.368 2.9-1.839 2.9-.58 0-1.027-.23-1.664-1.004-.496-.601-1.343-1.878-2.832-4.358l-.617-1.028a44.908 44.908 0 0 0-1.255-1.98c.07-.109.141-.224.211-.327 1.12-1.667 2.118-2.602 3.358-2.602zm-10.201.553c1.265 0 2.058.791 2.675 1.446.307.327.737.871 1.234 1.579l-1.02 1.566c-.757 1.163-1.882 3.017-2.837 4.338-1.191 1.649-1.81 1.817-2.486 1.817-.524 0-1.038-.237-1.383-.794-.263-.426-.464-1.13-.464-2.046 0-2.221.63-4.535 1.66-6.088.454-.687.964-1.226 1.533-1.533a2.264 2.264 0 0 1 1.088-.285z"/></svg>' },
  { name: 'TikTok Ads', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12.53.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"/></svg>' },
  { name: 'Analytics', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M22.84 2.9982v17.9987c.0086 1.6473-1.3197 2.9897-2.967 2.9984a2.9808 2.9808 0 01-.3677-.0208c-1.528-.226-2.6477-1.5558-2.6105-3.1V3.1204c-.0369-1.5458 1.0856-2.8762 2.6157-3.1 1.6361-.1915 3.1178.9796 3.3093 2.6158.014.1201.0208.241.0202.3619zM4.1326 18.0548c-1.6417 0-2.9726 1.331-2.9726 2.9726C1.16 22.6691 2.4909 24 4.1326 24s2.9726-1.3309 2.9726-2.9726-1.331-2.9726-2.9726-2.9726zm7.8728-9.0098c-.0171 0-.0342 0-.0513.0003-1.6495.0904-2.9293 1.474-2.891 3.1256v7.9846c0 2.167.9535 3.4825 2.3505 3.763 1.6118.3266 3.1832-.7152 3.5098-2.327.04-.1974.06-.3983.0593-.5998v-8.9585c.003-1.6474-1.33-2.9852-2.9773-2.9882z"/></svg>' },
  { name: 'GTM', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 0a3 3 0 0 0-2.12 5.12l6.87 6.87-4.45 4.54 1.75 1.84c.22.26.43.51.7.74l.01.01a3.43 3.43 0 0 1 .52 2.73l7.75-7.65a3 3 0 0 0-.06-4.17l-9-9A3 3 0 0 0 12 0zM8.63 2.13L.88 9.81a3 3 0 0 0 0 4.24l7.7 7.75a3.43 3.43 0 0 1 3.35-3.33c.28 0 .56.03.83.1l-5.52-5.81 4.37-4.37-2.08-2.08c-.9-.9-1.19-2.18-.9-3.34zm3.3 16a2.93 2.93 0 1 0 0 5.87 2.93 2.93 0 0 0 0-5.87z"/></svg>' },
  { name: 'SEMrush', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M20.698 11.911c0 .444-.226.516-.79.516-.596 0-.706-.1-.77-.554-.118-1.152-.896-2.13-2.201-2.24-.418-.034-.518-.19-.518-.706 0-.48.074-.708.446-.708 2.265.01 3.833 1.832 3.833 3.69v.002zm3.3 0c0-3.456-2.338-7.11-7.74-7.11H5.52c-.218 0-.354.11-.354.31 0 .109.082.209.156.26.388.31.97.654 1.73 1.036.743.372 1.323.616 1.903.852.246.1.336.208.336.344 0 .19-.136.308-.4.308H.372c-.254 0-.372.164-.372.326 0 .136.044.254.162.372.69.726 1.796 1.596 3.4 2.604 1.466.91 2.98 1.74 4.533 2.492.236.11.308.236.308.372-.008.154-.126.28-.4.28H4.1c-.216 0-.344.12-.344.3 0 .1.08.226.19.326.888.808 2.311 1.688 4.207 2.494 2.53 1.08 5.094 1.721 7.98 1.721 5.465 0 7.867-4.087 7.867-7.289l-.002.002zm-7.133 5.104c-2.794 0-5.132-2.276-5.132-5.114 0-2.794 2.33-5.04 5.132-5.04 2.863 0 5.111 2.24 5.111 5.04a5.086 5.086 0 0 1-5.111 5.114z"/></svg>' },
  { name: 'Hotjar', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M10.119 9.814C12.899 8.27 16.704 6.155 16.704 0h-4.609c0 3.444-1.676 4.375-4.214 5.786C5.1 7.33 1.295 9.444 1.295 15.6h4.61c0-3.444 1.676-4.376 4.214-5.786zM18.096 8.4c0 3.444-1.677 4.376-4.215 5.785-2.778 1.544-6.585 3.66-6.585 9.815h4.609c0-3.444 1.676-4.376 4.214-5.786 2.78-1.544 6.586-3.658 6.586-9.814h-4.609z"/></svg>' },
  { name: 'Figma', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M15.852 8.981h-4.588V0h4.588c2.476 0 4.49 2.014 4.49 4.49s-2.014 4.491-4.49 4.491zM12.735 7.51h3.117c1.665 0 3.019-1.355 3.019-3.019s-1.355-3.019-3.019-3.019h-3.117V7.51zm0 1.471H8.148c-2.476 0-4.49-2.014-4.49-4.49S5.672 0 8.148 0h4.588v8.981zm-4.587-7.51c-1.665 0-3.019 1.355-3.019 3.019s1.354 3.02 3.019 3.02h3.117V1.471H8.148zm4.587 15.019H8.148c-2.476 0-4.49-2.014-4.49-4.49s2.014-4.49 4.49-4.49h4.588v8.98zM8.148 8.981c-1.665 0-3.019 1.355-3.019 3.019s1.355 3.019 3.019 3.019h3.117V8.981H8.148zM8.172 24c-2.489 0-4.515-2.014-4.515-4.49s2.014-4.49 4.49-4.49h4.588v4.441c0 2.503-2.047 4.539-4.563 4.539zm-.024-7.51a3.023 3.023 0 0 0-3.019 3.019c0 1.665 1.365 3.019 3.044 3.019 1.705 0 3.093-1.376 3.093-3.068v-2.97H8.148zm7.704 0h-.098c-2.476 0-4.49-2.014-4.49-4.49s2.014-4.49 4.49-4.49h.098c2.476 0 4.49 2.014 4.49 4.49s-2.014 4.49-4.49 4.49zm-.097-7.509c-1.665 0-3.019 1.355-3.019 3.019s1.355 3.019 3.019 3.019h.098c1.665 0 3.019-1.355 3.019-3.019s-1.355-3.019-3.019-3.019h-.098z"/></svg>' },
  { name: 'Canva', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M2.832 18.058c-2.063-2.852-2.205-6.673-.927-9.837C3.349 4.84 6.547 2.47 10.202 1.49c4.452-1.193 9.696.164 12.36 4.084 1.124 1.654 1.643 3.792.539 5.592-.778 1.27-2.128 1.978-3.545 2.072-3.392.225-3.974-3.853-6.209-5.2-1.27-.765-3.094-.346-3.96.84-.98 1.345-.799 3.412.346 4.555 1.397 1.395 3.467 1.3 5.199.886-.253 1.523-.988 2.888-2.082 3.892-2.504 2.3-6.79 2.484-9.524.61-.121-.083-.341-.228-.494-.353z"/></svg>' },
  { name: 'Framer', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M4 0h16v8h-8zM4 8h8l8 8H4zM4 16h8v8z"/></svg>' },
  { name: 'Webflow', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="m24 4.515-7.658 14.97H9.149l3.205-6.204h-.144C9.566 16.713 5.621 18.973 0 19.485v-6.118s3.596-.213 5.71-2.435H0V4.515h6.417v5.278l.144-.001 2.622-5.277h4.854v5.244h.144l2.72-5.244H24Z"/></svg>' },
  { name: 'WordPress', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M21.469 6.825c.84 1.537 1.318 3.3 1.318 5.175 0 3.979-2.156 7.456-5.363 9.325l3.295-9.527c.615-1.54.82-2.771.82-3.864 0-.405-.026-.78-.07-1.11m-7.981.105c.647-.03 1.232-.105 1.232-.105.582-.075.514-.93-.067-.899 0 0-1.755.135-2.88.135-1.064 0-2.85-.15-2.85-.15-.585-.03-.661.855-.075.885 0 0 .54.061 1.125.09l1.68 4.605-2.37 7.08L5.354 6.9c.649-.03 1.234-.1 1.234-.1.585-.075.516-.93-.065-.896 0 0-1.746.138-2.874.138-.2 0-.438-.008-.69-.015C4.911 3.15 8.235 1.215 12 1.215c2.809 0 5.365 1.072 7.286 2.833-.046-.003-.091-.009-.141-.009-1.06 0-1.812.923-1.812 1.914 0 .89.513 1.643 1.06 2.531.411.72.89 1.643.89 2.977 0 .915-.354 1.994-.821 3.479l-1.075 3.585-3.9-11.61.001.014zM12 22.784c-1.059 0-2.081-.153-3.048-.437l3.237-9.406 3.315 9.087c.024.053.05.101.078.149-1.12.393-2.325.609-3.582.609M1.211 12c0-1.564.336-3.05.935-4.39L7.29 21.709C3.694 19.96 1.212 16.271 1.211 12M12 0C5.385 0 0 5.385 0 12s5.385 12 12 12 12-5.385 12-12S18.615 0 12 0"/></svg>' },
  { name: 'Shopify', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M15.337 23.979l7.216-1.561s-2.604-17.613-2.625-17.73c-.018-.116-.114-.192-.211-.192s-1.929-.136-1.929-.136-1.275-1.274-1.439-1.411c-.045-.037-.075-.057-.121-.074l-.914 21.104h.023zM11.71 11.305s-.81-.424-1.774-.424c-1.447 0-1.504.906-1.504 1.141 0 1.232 3.24 1.715 3.24 4.629 0 2.295-1.44 3.76-3.406 3.76-2.354 0-3.54-1.465-3.54-1.465l.646-2.086s1.245 1.066 2.28 1.066c.675 0 .975-.545.975-.932 0-1.619-2.654-1.694-2.654-4.359-.034-2.237 1.571-4.416 4.827-4.416 1.257 0 1.875.361 1.875.361l-.945 2.715-.02.01zM11.17.83c.136 0 .271.038.405.135-.984.465-2.064 1.639-2.508 3.992-.656.213-1.293.405-1.889.578C7.697 3.75 8.951.84 11.17.84V.83zm1.235 2.949v.135c-.754.232-1.583.484-2.394.736.466-1.777 1.333-2.645 2.085-2.971.193.501.309 1.176.309 2.1zm.539-2.234c.694.074 1.141.867 1.429 1.755-.349.114-.735.231-1.158.366v-.252c0-.752-.096-1.371-.271-1.871v.002zm2.992 1.289c-.02 0-.06.021-.078.021s-.289.075-.714.21c-.423-1.233-1.176-2.37-2.508-2.37h-.115C12.135.209 11.669 0 11.265 0 8.159 0 6.675 3.877 6.21 5.846c-1.194.365-2.063.636-2.16.674-.675.213-.694.232-.772.87-.075.462-1.83 14.063-1.83 14.063L15.009 24l.927-21.166z"/></svg>' },
  { name: 'Cursor', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M11.503.131 1.891 5.678a.84.84 0 0 0-.42.726v11.188c0 .3.162.575.42.724l9.609 5.55a1 1 0 0 0 .998 0l9.61-5.55a.84.84 0 0 0 .42-.724V6.404a.84.84 0 0 0-.42-.726L12.497.131a1.01 1.01 0 0 0-.996 0M2.657 6.338h18.55c.263 0 .43.287.297.515L12.23 22.918c-.062.107-.229.064-.229-.06V12.335a.59.59 0 0 0-.295-.51l-9.11-5.257c-.109-.063-.064-.23.061-.23"/></svg>' },
  { name: 'Claude', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="m4.7144 15.9555 4.7174-2.6471.079-.2307-.079-.1275h-.2307l-.7893-.0486-2.6956-.0729-2.3375-.0971-2.2646-.1214-.5707-.1215-.5343-.7042.0546-.3522.4797-.3218.686.0608 1.5179.1032 2.2767.1578 1.6514.0972 2.4468.255h.3886l.0546-.1579-.1336-.0971-.1032-.0972L6.973 9.8356l-2.55-1.6879-1.3356-.9714-.7225-.4918-.3643-.4614-.1578-1.0078.6557-.7225.8803.0607.2246.0607.8925.686 1.9064 1.4754 2.4893 1.8336.3643.3035.1457-.1032.0182-.0728-.164-.2733-1.3539-2.4467-1.445-2.4893-.6435-1.032-.17-.6194c-.0607-.255-.1032-.4674-.1032-.7285L6.287.1335 6.6997 0l.9957.1336.419.3642.6192 1.4147 1.0018 2.2282 1.5543 3.0296.4553.8985.2429.8318.091.255h.1579v-.1457l.1275-1.706.2368-2.0947.2307-2.6957.0789-.7589.3764-.9107.7468-.4918.5828.2793.4797.686-.0668.4433-.2853 1.8517-.5586 2.9021-.3643 1.9429h.2125l.2429-.2429.9835-1.3053 1.6514-2.0643.7286-.8196.85-.9046.5464-.4311h1.0321l.759 1.1293-.34 1.1657-1.0625 1.3478-.8804 1.1414-1.2628 1.7-.7893 1.36.0729.1093.1882-.0183 2.8535-.607 1.5421-.2794 1.8396-.3157.8318.3886.091.3946-.3278.8075-1.967.4857-2.3072.4614-3.4364.8136-.0425.0304.0486.0607 1.5482.1457.6618.0364h1.621l3.0175.2247.7892.522.4736.6376-.079.4857-1.2142.6193-1.6393-.3886-3.825-.9107-1.3113-.3279h-.1822v.1093l1.0929 1.0686 2.0035 1.8092 2.5075 2.3314.1275.5768-.3218.4554-.34-.0486-2.2039-1.6575-.85-.7468-1.9246-1.621h-.1275v.17l.4432.6496 2.3436 3.5214.1214 1.0807-.17.3521-.6071.2125-.6679-.1214-1.3721-1.9246L14.38 17.959l-1.1414-1.9428-.1397.079-.674 7.2552-.3156.3703-.7286.2793-.6071-.4614-.3218-.7468.3218-1.4753.3886-1.9246.3157-1.53.2853-1.9004.17-.6314-.0121-.0425-.1397.0182-1.4328 1.9672-2.1796 2.9446-1.7243 1.8456-.4128.164-.7164-.3704.0667-.6618.4008-.5889 2.386-3.0357 1.4389-1.882.929-1.0868-.0062-.1579h-.0546l-6.3385 4.1164-1.1293.1457-.4857-.4554.0608-.7467.2307-.2429 1.9064-1.3114Z"/></svg>' },
  { name: 'ChatGPT', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M22.2819 9.8211a5.9847 5.9847 0 0 0-.5157-4.9108 6.0462 6.0462 0 0 0-6.5098-2.9A6.0651 6.0651 0 0 0 4.9807 4.1818a5.9847 5.9847 0 0 0-3.9977 2.9 6.0462 6.0462 0 0 0 .7427 7.0966 5.98 5.98 0 0 0 .511 4.9107 6.051 6.051 0 0 0 6.5146 2.9001A5.9847 5.9847 0 0 0 13.2599 24a6.0557 6.0557 0 0 0 5.7718-4.2058 5.9894 5.9894 0 0 0 3.9977-2.9001 6.0557 6.0557 0 0 0-.7475-7.0729zm-9.022 12.6081a4.4755 4.4755 0 0 1-2.8764-1.0408l.1419-.0804 4.7783-2.7582a.7948.7948 0 0 0 .3927-.6813v-6.7369l2.02 1.1686a.071.071 0 0 1 .038.052v5.5826a4.504 4.504 0 0 1-4.4945 4.4944zm-9.6607-4.1254a4.4708 4.4708 0 0 1-.5346-3.0137l.142.0852 4.783 2.7582a.7712.7712 0 0 0 .7806 0l5.8428-3.3685v2.3324a.0804.0804 0 0 1-.0332.0615L9.74 19.9502a4.4992 4.4992 0 0 1-6.1408-1.6464zM2.3408 7.8956a4.485 4.485 0 0 1 2.3655-1.9728V11.6a.7664.7664 0 0 0 .3879.6765l5.8144 3.3543-2.0201 1.1685a.0757.0757 0 0 1-.071 0l-4.8303-2.7865A4.504 4.504 0 0 1 2.3408 7.872zm16.5963 3.8558L13.1038 8.364 15.1192 7.2a.0757.0757 0 0 1 .071 0l4.8303 2.7913a4.4944 4.4944 0 0 1-.6765 8.1042v-5.6772a.79.79 0 0 0-.407-.667zm2.0107-3.0231l-.142-.0852-4.7735-2.7818a.7759.7759 0 0 0-.7854 0L9.409 9.2297V6.8974a.0662.0662 0 0 1 .0284-.0615l4.8303-2.7866a4.4992 4.4992 0 0 1 6.6802 4.66zM8.3065 12.863l-2.02-1.1638a.0804.0804 0 0 1-.038-.0567V6.0742a4.4992 4.4992 0 0 1 7.3757-3.4537l-.142.0805L8.704 5.459a.7948.7948 0 0 0-.3927.6813zm1.0976-2.3654l2.602-1.4998 2.6069 1.4998v2.9994l-2.5974 1.4997-2.6067-1.4997Z"/></svg>' },
  { name: 'ElevenLabs', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M4.6035 0v24h4.9317V0zm9.8613 0v24h4.9317V0z"/></svg>' },
  { name: 'Mailchimp', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M11.267 0C6.791-.015-1.82 10.246 1.397 12.964l.79.669a3.88 3.88 0 0 0-.22 1.792c.084.84.518 1.644 1.22 2.266.666.59 1.542.964 2.392.964 1.406 3.24 4.62 5.228 8.386 5.34 4.04.12 7.433-1.776 8.854-5.182.093-.24.488-1.316.488-2.267 0-.956-.54-1.352-.885-1.352-.01-.037-.078-.286-.172-.586-.093-.3-.19-.51-.19-.51.375-.563.382-1.065.332-1.35-.053-.353-.2-.653-.496-.964-.296-.311-.902-.63-1.753-.868l-.446-.124c-.002-.019-.024-1.053-.043-1.497-.014-.32-.042-.822-.197-1.315-.186-.668-.508-1.253-.911-1.627 1.112-1.152 1.806-2.422 1.804-3.511-.003-2.095-2.576-2.729-5.746-1.416l-.672.285A678.22 678.22 0 0 0 12.7.504C12.304.159 11.817.002 11.267 0z"/></svg>' },
  { name: 'Zapier', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M15.358 9.31h3.16c-.072-.604-.2-1.18-.386-1.73h-3.476l1.848-3.2a8.288 8.288 0 0 0-1.253-1.044l-2.32 4.017-2.321-4.02a8.26 8.26 0 0 0-1.254 1.044l1.849 3.202H7.728a8.26 8.26 0 0 0-.386 1.731h3.161l-1.849 3.2c.37.4.79.75 1.253 1.045l2.32-4.02 2.321 4.02a8.27 8.27 0 0 0 1.254-1.044l-1.849-3.2h.405zM12 17.4c-2.98 0-5.4-2.42-5.4-5.4S9.02 6.6 12 6.6s5.4 2.42 5.4 5.4-2.42 5.4-5.4 5.4zM12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0z"/></svg>' },
  { name: 'n8n', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M21.4737 5.6842c-1.1772 0-2.1663.8051-2.4468 1.8947h-2.8955c-1.235 0-2.289.893-2.492 2.111l-.1038.623a1.263 1.263 0 0 1-1.246 1.0555H11.289c-.2805-1.0896-1.2696-1.8947-2.4468-1.8947s-2.1663.8051-2.4467 1.8947H4.973c-.2805-1.0896-1.2696-1.8947-2.4468-1.8947C1.1311 9.4737 0 10.6047 0 12s1.131 2.5263 2.5263 2.5263c1.1772 0 2.1663-.8051 2.4468-1.8947h1.4223c.2804 1.0896 1.2696 1.8947 2.4467 1.8947 1.1772 0 2.1663-.8051 2.4468-1.8947h1.0008a1.263 1.263 0 0 1 1.2459 1.0555l.1038.623c.203 1.218 1.257 2.111 2.492 2.111h.3692c.2804 1.0895 1.2696 1.8947 2.4468 1.8947 1.3952 0 2.5263-1.131 2.5263-2.5263s-1.131-2.5263-2.5263-2.5263c-1.1772 0-2.1664.805-2.4468 1.8947h-.3692a1.263 1.263 0 0 1-1.246-1.0555l-.1037-.623A2.52 2.52 0 0 0 13.9607 12a2.52 2.52 0 0 0 .821-1.4794l.1038-.623a1.263 1.263 0 0 1 1.2459-1.0555h2.8955c.2805 1.0896 1.2696 1.8947 2.4468 1.8947 1.3952 0 2.5263-1.131 2.5263-2.5263s-1.131-2.5263-2.5263-2.5263"/></svg>' },
  { name: 'Vercel', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="m12 1.608 12 20.784H0Z"/></svg>' },
  { name: 'GitHub', svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>' },
];

const row1 = tools.slice(0, Math.ceil(tools.length / 2));
const row2 = tools.slice(Math.ceil(tools.length / 2));
---

<section class="canvas-cards" id="stack">
  <div class="container canvas-cards__inner">
    <div class="canvas-cards__text" data-animate>
      <span class="canvas-cards__label" data-i18n="canvas.techLabel">Technologijos</span>
      <h2 class="canvas-cards__title" data-i18n="canvas.title" data-i18n-br="true">KODAS,<br />KURIS<br />DIRBA.</h2>
      <p class="canvas-cards__desc" data-i18n="canvas.desc">
        Kiekvienas mūsų projektas gimsta iš švaraus kodo, greito dizaino ir duomenimis pagrįstų sprendimų. Diegiame AI sprendimus su Cursor, Claude Code ir kitais įrankiais — nuo svetainės iki automatizacijos.
      </p>
    </div>
    <div class="canvas-cards__canvas-wrap" data-animate data-animate-delay="2">
      <canvas id="code-canvas"></canvas>
    </div>
  </div>

  <!-- Tools marquee below grid, contained within section width -->
  <div class="canvas-cards__tools" data-animate data-animate-delay="1">
    <div class="container">
      <span class="canvas-cards__tools-label" data-i18n="stack.label">Dirbame su</span>
      <div class="canvas-cards__marquee">
        <div class="canvas-cards__marquee-track canvas-cards__marquee-track--left">
          {[...row1, ...row1, ...row1].map((tool) => (
            <div class="canvas-cards__tool">
              <span class="canvas-cards__tool-icon" set:html={tool.svg}></span>
              <span class="canvas-cards__tool-name">{tool.name}</span>
            </div>
          ))}
        </div>
        <div class="canvas-cards__marquee-track canvas-cards__marquee-track--right">
          {[...row2, ...row2, ...row2].map((tool) => (
            <div class="canvas-cards__tool">
              <span class="canvas-cards__tool-icon" set:html={tool.svg}></span>
              <span class="canvas-cards__tool-name">{tool.name}</span>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const canvas = document.getElementById('code-canvas') as HTMLCanvasElement;
  if (canvas) {
    const ctx = canvas.getContext('2d')!;
    const wrap = canvas.parentElement!;
    const dpr = window.devicePixelRatio || 1;
    let w: number, h: number;

    function resizeCanvas() {
      const rect = wrap.getBoundingClientRect();
      w = rect.width;
      h = rect.height;
      canvas.width = w * dpr;
      canvas.height = h * dpr;
      canvas.style.width = rect.width + 'px';
      canvas.style.height = rect.height + 'px';
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.scale(dpr, dpr);
    }

    const lines = [
      { text: 'const gronk = new Agency({', color: '#c8f73a' },
      { text: '  name: "GRØNK",', color: '#6B8FF0' },
      { text: '  domain: "gronk.agency",', color: '#6B8FF0' },
      { text: '  services: [', color: '#8b8b8b' },
      { text: '    "web", "ads", "ai", "branding"', color: '#A78BFA' },
      { text: '  ],', color: '#8b8b8b' },
      { text: '});', color: '#c8f73a' },
      { text: '', color: '#8b8b8b' },
      { text: 'const project = await gronk.launch({', color: '#c8f73a' },
      { text: '  client: request.client,', color: '#8b8b8b' },
      { text: '  stack: ["astro","vercel","figma"],', color: '#A78BFA' },
      { text: '  ads: { google: true, meta: true },', color: '#FF8C42' },
      { text: '  ai: { chatbot: true, auto: true },', color: '#FF8C42' },
      { text: '});', color: '#c8f73a' },
      { text: '', color: '#8b8b8b' },
      { text: 'await gronk.deploy(project);', color: '#c8f73a' },
    ];

    let t = 0;
    const charSpeed = 1.05;

    const particles = Array.from({ length: 20 }, () => ({
      x: Math.random(),
      y: Math.random(),
      vx: (Math.random() - 0.5) * 0.0004,
      vy: (Math.random() - 0.5) * 0.0004,
      size: 0.5 + Math.random() * 1.5,
      alpha: 0.08 + Math.random() * 0.15,
    }));

    let fadeAlpha = 1;
    let fadingOut = false;
    const fadeSpeed = 0.012;
    const pauseAfterTyping = 80;

    function draw() {
      t += charSpeed;
      ctx.clearRect(0, 0, w, h);

      particles.forEach((p) => {
        p.x += p.vx;
        p.y += p.vy;
        if (p.x < 0 || p.x > 1) p.vx *= -1;
        if (p.y < 0 || p.y > 1) p.vy *= -1;
        ctx.beginPath();
        ctx.arc(p.x * w, p.y * h, p.size, 0, Math.PI * 2);
        ctx.fillStyle = `rgba(200,247,58,${p.alpha})`;
        ctx.fill();
      });

      const totalChars = lines.reduce((s, l) => s + l.text.length, 0);
      if (Math.floor(t) > totalChars + pauseAfterTyping && !fadingOut) {
        fadingOut = true;
      }
      if (fadingOut) {
        fadeAlpha -= fadeSpeed;
        if (fadeAlpha <= 0) { fadeAlpha = 0; t = 0; fadingOut = false; }
      } else if (fadeAlpha < 1) {
        fadeAlpha += fadeSpeed;
        if (fadeAlpha > 1) fadeAlpha = 1;
      }

      ctx.globalAlpha = fadeAlpha;

      const isMobile = w < 500;
      const fontSize = isMobile ? Math.max(12, Math.min(14, w * 0.035)) : Math.max(13, Math.min(15, w * 0.028));
      const lineHeight = fontSize * 1.7;
      const startX = 32;
      const startY = 28;
      let charCount = 0;

      lines.forEach((line, i) => {
        const y = startY + i * lineHeight;
        if (y > h - 10) return;
        ctx.font = `${fontSize}px ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace`;
        ctx.textBaseline = 'top';

        ctx.fillStyle = 'rgba(255,255,255,0.08)';
        ctx.textAlign = 'right';
        ctx.fillText(String(i + 1), 20, y);
        ctx.textAlign = 'left';

        const visibleChars = Math.max(0, Math.floor(t) - charCount);
        const displayText = line.text.substring(0, Math.min(visibleChars, line.text.length));
        charCount += line.text.length;

        if (displayText.length > 0) {
          ctx.fillStyle = line.color;
          ctx.fillText(displayText, startX, y);

          if (visibleChars <= line.text.length && visibleChars > 0) {
            const cursorX = startX + ctx.measureText(displayText).width;
            if (Math.sin(Date.now() * 0.006) > 0) {
              ctx.fillStyle = '#c8f73a';
              ctx.fillRect(cursorX + 2, y, 2, fontSize);
            }
          }
        }
      });

      ctx.globalAlpha = 1;
      requestAnimationFrame(draw);
    }

    window.addEventListener('load', () => {
      resizeCanvas();
      requestAnimationFrame(draw);
    });

    resizeCanvas();
    window.addEventListener('resize', resizeCanvas);
  }
</script>

<style>
  .canvas-cards {
    padding: 56px 0 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  .canvas-cards__inner {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 36px;
    align-items: center;
  }

  .canvas-cards__text {
    min-width: 0;
  }

  .canvas-cards__label {
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--accent);
    display: block;
    margin-bottom: 16px;
  }

  .canvas-cards__title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(48px, 5vw, 72px);
    line-height: 0.9;
    font-weight: 400;
    margin-bottom: 20px;
    white-space: normal;
  }

  .canvas-cards__desc {
    font-size: 14px;
    color: var(--text-muted);
    line-height: 1.7;
    max-width: 340px;
  }

  /* Canvas */
  .canvas-cards__canvas-wrap {
    background: #111;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--border);
    width: 100%;
    min-height: 480px;
  }

  .canvas-cards__canvas-wrap canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0;
  }

  /* Tools — full width below grid */
  .canvas-cards__tools {
    margin-top: 40px;
    padding: 24px 0 32px;
    border-top: 1px solid var(--border);
  }

  .canvas-cards__tools-label {
    display: block;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-muted);
    margin-bottom: 16px;
  }

  .canvas-cards__marquee {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6px;
    mask-image: linear-gradient(to right, transparent 0%, black 4%, black 96%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 4%, black 96%, transparent 100%);
  }

  .canvas-cards__marquee-track {
    display: flex;
    gap: 6px;
    width: max-content;
    will-change: transform;
  }

  .canvas-cards__marquee-track--left {
    animation: marquee-left 45s linear infinite;
  }

  .canvas-cards__marquee-track--right {
    animation: marquee-right 40s linear infinite;
  }

  .canvas-cards__marquee:hover .canvas-cards__marquee-track {
    animation-play-state: paused;
  }

  @keyframes marquee-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-33.333%); }
  }

  @keyframes marquee-right {
    0% { transform: translateX(-33.333%); }
    100% { transform: translateX(0); }
  }

  .canvas-cards__tool {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: border-color 0.3s, background 0.3s;
    cursor: default;
    flex-shrink: 0;
  }

  .canvas-cards__tool:hover {
    background: rgba(200, 247, 58, 0.04);
    border-color: rgba(200, 247, 58, 0.2);
  }

  .canvas-cards__tool-icon {
    width: 16px;
    height: 16px;
    color: var(--text-muted);
    transition: color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .canvas-cards__tool-icon :global(svg) {
    width: 100%;
    height: 100%;
  }

  .canvas-cards__tool:hover .canvas-cards__tool-icon {
    color: var(--accent);
  }

  .canvas-cards__tool-name {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--text-muted);
    transition: color 0.2s;
    white-space: nowrap;
  }

  .canvas-cards__tool:hover .canvas-cards__tool-name {
    color: var(--accent);
  }

  @media (max-width: 768px) {
    .canvas-cards__inner {
      grid-template-columns: 1fr;
    }

    .canvas-cards__title {
      white-space: nowrap;
      font-size: clamp(36px, 10vw, 52px);
      br { display: none; }
    }

    .canvas-cards__canvas-wrap {
      min-height: 460px;
    }
  }
</style>
